<h1>スケジュール作成</h1>

<%= form_with(model: @event, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="form_group">
  <%= f.label :event_title, 'title' %>
  <%= f.text_field :event_title, class: 'form-control', :required => true %>
  <div class="form_group">
  <%= f.label :start_time, '開始時間' %>
  <%= f.time_field :start_time, class: 'form-control', :required => true %>
  </div>
  <div class="form_group">
  <%= f.label :end_time, '終了時間' %>
  <%= f.time_field :end_time, class: 'form-control', :required => true %>
  </div>
  <div class="form_group">
  <%= f.label :url, 'URL' %>
  <%= f.text_field :url, class: 'form-control', :required => true %>
  </div>
  <div class="form_group">
  <%= f.label :tel, '電話番号' %>
  <%= f.telephone_field :tel, class: 'form-control', :required => true %>
  </div>
  <div class="form_group">
  <%= f.label :address, '住所' %>
  <%= f.text_field :address, class: 'form-control', :required => true %>
  </div>
  <div class="form_group">
  <%= f.label :budget, '金額' %>
  <%= f.number_field :budget, class: 'form-control', :required => true %>
  </div>
  <div class="form_group">
  <%= f.label :memo, 'メモ' %>
  <%= f.text_area :memo, class: 'form-control', :required => true %>
  </div>
  <%= f.submit '投稿' %>
<% end %>

<%= link_to '一覧に戻る', root_url %>