<h1><%= @event.event_title %>の詳細</h1>

<table class="table table-striped">
  <tr><th>開始時間</th><td><%= @event.start_time.strftime('%H:%M') %></td></tr>
  <tr><th>終了時間</th><td><%= @event.end_time.strftime('%H:%M') %></td></tr>
  <tr><th>TEL</th><td><%= link_to(@event.tel, "tel:#{@event.tel}") %></td></tr>
  <tr><th>URL</th><td><%= link_to(@event.url, "#{@event.url}", target: :_blank) %></td></tr>
  <tr><th>住所</th><td><%= link_to(@event.address, "https://www.google.com/maps/search/?api=1&query=#{@event.address}", target: :_blank) %></td></tr>
  <tr><th>金額</th><td><%= @event.budget.to_s(:delimited) %></td></tr>
  <tr><th>メモ</th><td><%= @event.memo %></td></tr>
  
</table>
  <div>