<%= form_with(model: @plan, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="form_group mb-3">
  <%= f.label :destination, '行き先' %>
  <%= f.text_field :destination, class: 'form-control', :required => true %>
  </div>
  <div class="form_group mb-3">
  <%= f.label :departure_date, '出発日' %>
  <%= f.date_field :departure_date, class: 'form-control', :required => true %>
  </div>
  <div class="form_group mb-3">
  <%= f.label :return_date, '帰着日' %>
  <%= f.date_field :return_date, class: 'form-control', :required => true %>
  </div>
  <%= f.submit '登録' %>
<% end %>

