
<h1>新たな旅行計画</h1>

<%= form_with(model: @plan, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="form_group">
  <%= f.label :date, '日付' %>
  <%= f.date_field :date, class: 'form-control', :required => true %>
  </div>
  <div class="form_group">
  <%= f.label :destination, '行き先' %>
  <%= f.text_field :destination, class: 'form-control', :required => true %>
  </div>
  <%= f.submit '投稿' %>
<% end %>

<%= link_to '一覧に戻る', root_url %>